@import url("https://cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/medium-editor.min.css");
@import url("https://cdn.jsdelivr.net/npm/medium-editor@latest/dist/css/themes/default.css");
div:focus {
  outline: 0;
}

.main-content {
  width: 80%;
}

.home {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.logout {
  padding: 12px;
  left: 500;
  border-radius: 8px;
  border-color: navy;
}
